*{
    margin: 0px;
    padding: 0px;
}
ul{
    margin-top: 10px;
    padding-left: 1040px;
}
ul li{
    margin-top: 10px;
    padding-left: 10px;
}

ul li {
    line-height: 20px;
}

ul li{
    float: left;
}
ul ul{
    padding-left: 0px;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
}
ul ul li{
    display: none;
}
ul li a:hover{
  text-decoration: underline;
}
ul li:hover ul li{
		display: block;
        color: white;
     /* //   background-color: black; */
        padding-right: 10px;
	}
    ul ul a{
        font-size: 20px;
    }
	  #dis{
		margin-top: 10px;
        }	
		  	  #dis{
            /* border:2px solid black; */
			height:400px;
        }	
		#body{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV5tegbIR32oDRVB_qdMazaa-KJwDX04xfiA&s");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;  
			
        }
		#dis{
            padding-top:140px;
           padding-left:400px;
        }
		.btn{
		padding-left:20px;
		padding-right:20px;
		}
		.btn{
		background-color:black;
		color:white;
		}
		#next{
		position:absolute;
		right:0px;
		}
	 
        #formInput{
            padding-top: 40px;
          text-align:center
        }
        .span{
            font-weight: bold;
            font-size: 20px;
        }
        form #Submit{
            padding: 40px;
            margin-left: 300px;
        background-color: green;
            border: 2px solid white;
            color: white;
            font-size: 20px;

        }
   
	   #nameError{
		   padding-right:40px;
	   }
	#d1 ul li a:hover{
	 text-decoration:underline
	}
	#d1 ul li a{
	 color:green
	}
	a{
		text-decoration:none
	}
	a:hover{
		text-decoration:underline
	}
	#sub{
		margin-top:20px;
		margin-left:40px;
	}
	#sub{
		padding:20px;
		background-color:blue;
		color:white;
		font-size:20px;
	}  #fomEle{
        /* position; */
      }
	  
	

	#patientName{
		position: absolute;
		top:0px;
	    transition: transform 4s linear 1s;  
	  }
	 .res{
		position: absolute;
		top:0px;
	    transition: transform 4s linear 1s;  
	  }
	  #patientName:hover{
		transform: translateY(-80px);
	 }

 
 
 
 
 
