#editBody{
	background-color:papayawhip
}
#eidtSection{
	margin-top:50px
}
#eidtSection{
	border:2px solid black;
	height:500px
}
#eidtSection{
	background-color: white;
}
#eidtSection {
     padding-top:80px;
	 padding-left:400px;
}
