#editBody{
	background-color:papayawhip
}
#eidtSection{
	margin-top:50px
}
#eidtSection{
	border:2px solid black;
	height:500px
}
#eidtSection{
	background-color: white;
	height: 100px;
	width: auto;
}
#eidtSection {
     padding-top:40px;
	 padding-left:350px;
}
    ul ul li a{
            background-color: lightblue;
        }
	#header0{
		background-color:black

	}
    	table th, td{
		padding: 5px;
	}
    #updateMessage{
    position: absolute;
    top: -80px;
    color: green;
    background-color: white;
    transition: transform 3s;
}
#deleted{
background-color: white;
 margin-top: 10px;

}
#EditUl{
	background:lightblue;
	 height: 40px;
	 width:340px;
	padding-left:1000px
}