      
        #d1 {
        margin-left:400px;
        }
      #d1 ul li a{
        margin-left:21px ;
      }
      
        #d1{
           background-color:white;
           height:25px;
           width: 900px;
        
          
        }
        
        #d1 ul li{
            float: left;
        
        }
        #d1 ul li{
           list-style-type: none;
        }
        #d1 ul {
            padding-left:600px;
        
        }
       #d1 ul li a{
        text-decoration: none;
       }
       #d1 ul li a:hover{
        text-decoration: underline;
       }
       #d1 ul li a{

        font-size:20px
       }
      .mobErr{
        padding-left: 4px;
      }
    #formEle{
      float: left;
      }
	    #formInput{
            padding-top: 40px;
          text-align:center
        }a{
		text-decoration:none
	}   form #Submit{
            padding: 40px;
            margin-left: 300px;
        background-color: green;
            border: 2px solid white;
            color: white;
            font-size: 20px;

        }
	a:hover{
		text-decoration:underline
	}
	#sub{
		margin-top:20px;
		margin-left:40px;
	}
	#sub{
		padding:20px;
		background-color:blue;
		color:white;
		font-size:20px;
	}  #fomEle{
        /* position; */
      }
	  
	

	#patientName{
		position: absolute;
		top:0px;
	    transition: transform 4s linear 1s;  
	  }
	 .res{
		position: absolute;
		top:0px;
	    transition: transform 4s linear 1s;  
	  }
	  #patientName:hover{
		transform: translateY(-80px);
	 }

 
 
 
 
 

	
	  #editBody{
		  background-color:black
	  }