*{
        padding: 0px;
        margin: 0px;

    }
    body
    {
        background-image: url("../Images/Gender.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #genDiv{
        margin-top: 25px;
        margin-left: 25px;
    }
    #genDiv{
        background-color: white;
    }
    #genDiv{
        margin-left: 100px;
    }
    
    #genform{
        margin-top: -30px;
        margin-left: 700px;
    }
    #genDiv{
        border: 2px solid black;
        height: 50px;
        width: 1000px;
    }
    #genDiv{
        padding: 20px;
    }
    #genform span{
      font-weight: bold;
    }   
     #genbtn{
       padding-left: 40px 
    }