   #Main-div{
            /* border:2px solid black; */
            height: 100px;
        }
		#sub-div{
            position: relative;
            top: 0px;
            text-align: center;
        }
      body {
    background-color: #f0f4f8; /* soft light blue/grey */
}
